<div class="card-header d-flex">Data</div>
<div class="card-body">
  <div class="tab-content">
    <div role="tabpanel" aria-labelledby="tab-header-data-data" id="tab-data-data" class="tab-pane active">
      <table id="data" class="table table-hover table-sm">
        <thead>
          <tr class="d-flex">
            <th class="col-2">Network</th>
            <th class="col-1">Station</th>
            <th class="col-1">Variable</th>
            <th class="col-2">Level</th>
            <th class="col-2">Time range</th>
            <th class="col-2">Datetime</th>
            <th class="col-2">Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
