<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">Station</div>
        <dl class="card-body row">
          <dt class="col-sm-3">ID</dt>
          <dd id="dballeweb-station-data-id" class="col-sm-9"></dd>
          <dt class="col-sm-3">Report</dt>
          <dd id="dballeweb-station-data-repmemo" class="col-sm-9"></dd>
          <dt class="col-sm-3">Coords</dt>
          <dd id="dballeweb-station-data-coords" class="col-sm-9"></dd>
          <dt class="col-sm-3">Ident</dt>
          <dd id="dballeweb-station-data-ident" class="col-sm-9"></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">Station values</div>
    <div class="card-body">
      <table id="station-data" class="table table-hover table-sm">
        <thead>
          <tr class="d-flex">
            <th class="col-4">Variable</th>
            <th class="col-8">Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
