<dl class="row">
  <dt class="col-sm-3">ID</dt>
  <dd id="dballeweb-station-data-id" class="col-sm-9"></dt>
  <dt class="col-sm-3">Report</dt>
  <dd id="dballeweb-station-data-repmemo" class="col-sm-9"></dt>
  <dt class="col-sm-3">Coords</dt>
  <dd id="dballeweb-station-data-coords" class="col-sm-9"></dt>
  <dt class="col-sm-3">Ident</dt>
  <dd id="dballeweb-station-data-ident" class="col-sm-9"></dt>
</dl>
<table id="station-data" class="table table-hover table-sm w-100">
  <thead>
    <tr class="d-flex">
      <th class="col-4">Variable</th>
      <th class="col-8">Value</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
