{% extends "base.html" %}

{% block head %}
<style type="text/css">
#map { height: 30em; }
.marker-cluster-highlighted {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-highlighted div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-normal {
  background-color: rgba( 96, 166, 215, 0.6);
}
.marker-cluster-normal div {
  background-color: rgba( 38, 127, 202, 0.6);
}

.marker-cluster-current {
  background-color: rgba(122, 238, 228, 0.6);
}
.marker-cluster-current div {
  background-color: rgba( 56, 246, 239, 0.6);
}

.marker-cluster-hidden {
  background-color: rgba(180, 180, 180, 0.6);
}
.marker-cluster-hidden div {
  background-color: rgba(150, 150, 150, 0.6);
}

input.data_editor {
  width: 100%;
  height: 100%
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;  /* if you want no box around the input field */
}
</style>
<script type="text/javascript">
(function($) {
  function main()
  {
    dballeweb = new window.dballeweb.DballeWeb({
      resource_url: "{{ static_url('dballe-web/') }}",
    });

    $("#jumbotron-goto-filter").click(evt => {
      $("#tab-header-filter").tab("show");
      evt.preventDefault();
    });
  }

  async function async_main()
  {
    await dballeweb.init();
  }

  $(document).ready(() => {
    main();
    async_main().then();
  });
})(jQuery);
</script>
{% end %}

{% block body %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item">
        <a data-toggle="tab" role="tab" aria-controls="tab-splash" class="nav-link" id="tab-header-splash" href="#tab-splash">DB-All.e Web</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" role="tab" aria-controls="tab-filter" class="nav-link active" id="tab-header-filter" href="#tab-filter">Explore</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" role="tab" aria-controls="tab-export"   class="nav-link" id="tab-header-export" data-toggle="tab" href="#tab-export">Export</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div role="tabpanel" aria-labelledby="tab-header-splash" id="tab-splash" class="tab-pane">
        <div class="container">
          {% include "dballeweb-splash.html" %}
        </div>
      </div>
      <div role="tabpanel" aria-labelledby="tab-header-filter" id="tab-filter" class="tab-pane active">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                      <a data-toggle="tab" role="tab" aria-controls="tab-filter-filter" class="nav-link active" id="tab-header-filter-filter" href="#tab-filter-filter">Filter</a>
                    </li>
                    <li class="nav-item">
                      <a data-toggle="tab" role="tab" aria-controls="tab-filter-attrs" class="nav-link" id="tab-header-filter-attrs" href="#tab-filter-attrs">Attributes</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div role="tabpanel" aria-labelledby="tab-header-filter-filter" id="tab-filter-filter" class="tab-pane active">
                      {% include "dballeweb-filter.html" %}
                    </div>
                    <div role="tabpanel" aria-labelledby="tab-header-filter-attrs" id="tab-filter-attrs" class="tab-pane">
                      {% include "dballeweb-attrs.html" %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg">
              <div class="card">
                <div class="card-header">Stations</div>
                <div class="card-body" id="map">
                </div>
              </div>
            </div>
          </div> <!-- /div class="row" -->

          <div class="card">
            {% include "dballeweb-data.html" %}
          </div>
        </div> <!-- /div class="container-fluid" -->
      </div>
      <div role="tabpanel" aria-labelledby="tab-header-export" id="tab-export" class="tab-pane">
        {% include "dballeweb-export.html" %}
      </div>
    </div>
  </div>
</div>
{% end %}
