<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Provami{% end %}</title>

    <!-- Bootstrap -->
    <link href="{{ static_url('bootstrap-4.1.0/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ static_url('jquery-3.3.1/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ static_url('popper-1.14.3/popper.min.js') }}"></script>
    <script src="{{ static_url('bootstrap-4.1.0/js/bootstrap.min.js') }}"></script>

    <!-- Open Iconic -->
    <link href="{{ static_url('open-iconic/css/open-iconic-bootstrap.css') }}" rel="stylesheet">

    <!-- Leaflet -->
    <script src="{{ static_url('leaflet-1.2.0/leaflet.js') }}"></script>
    <link href="{{ static_url('leaflet-1.2.0/leaflet.css') }}" rel="stylesheet">
    <link href="{{ static_url('Leaflet.markercluster-1.2.0/dist/MarkerCluster.Default.css') }}" rel="stylesheet">
    <link href="{{ static_url('Leaflet.markercluster-1.2.0/dist/MarkerCluster.css') }}" rel="stylesheet">
    <script src="{{ static_url('Leaflet.markercluster-1.2.0/dist/leaflet.markercluster.js') }}"></script>
    <link href="{{ static_url('Leaflet.MousePosition/L.Control.MousePosition.css') }}" rel="stylesheet">
    <script src="{{ static_url('Leaflet.MousePosition/L.Control.MousePosition.js') }}"></script>

    <!-- Provami -->
    <script src="{{ static_url('provami/fields.js') }}"></script>
    <script src="{{ static_url('provami/map.js') }}"></script>
    <script src="{{ static_url('provami/provami.js') }}"></script>
    <script src="{{ static_url('provami/leaflet.boxselect.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
    (function($) {
      function main() {
      }
      $(document).ready(main);
    })(jQuery);
    </script>

    {% block head %}
    {% end %}
  </head>
  <body>
    {% block body %}
    {% end %}
  </body>
</html>
