{% extends "base.html" %}

{% block head %}
<style type="text/css">
#map { height: 30em; }
.marker-cluster-highlighted {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-highlighted div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-normal {
  background-color: rgba( 96, 166, 215, 0.6);
}
.marker-cluster-normal div {
  background-color: rgba( 38, 127, 202, 0.6);
}

.marker-cluster-current {
  background-color: rgba(122, 238, 228, 0.6);
}
.marker-cluster-current div {
  background-color: rgba( 56, 246, 239, 0.6);
}

.marker-cluster-hidden {
  background-color: rgba(180, 180, 180, 0.6);
}
.marker-cluster-hidden div {
  background-color: rgba(150, 150, 150, 0.6);
}
</style>
<script type="text/javascript">
(function($) {
  function main()
  {
    provami = new window.provami.Provami({
      resource_url: "{{ static_url('provami/') }}",
    });

    $("#jumbotron-goto-filter").click(evt => {
      $("#tab-header-filter").tab("show");
      evt.preventDefault();
    });
  }

  async function async_main()
  {
    await provami.init();
  }

  $(document).ready(() => {
    main();
    async_main().then();
  });
})(jQuery);
</script>
{% end %}

{% block body %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item">
        <a data-toggle="tab" role="tab" aria-controls="tab-splash" class="nav-link" id="tab-header-splash" href="#tab-splash">Provami</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" role="tab" aria-controls="tab-filter" class="nav-link active" id="tab-header-filter" href="#tab-filter">Filter</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" role="tab" aria-controls="tab-edit"   class="nav-link" id="tab-header-edit" data-toggle="tab" href="#tab-edit">Edit</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div role="tabpanel" aria-labelledby="tab-header-splash" id="tab-splash" class="tab-pane">
        <div class="container">
          <p></p>
          <div class="jumbotron">
            <h1>Provami</h1>
            <p>TODO: add a description about provami</p>
            <p>TODO: add information (IP, database URL, version of Provami, Python, OS, and DB-All.e)</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button" id="jumbotron-goto-filter">Explore data</a></p>
          </div>
        </div>
      </div>
      <div role="tabpanel" aria-labelledby="tab-header-filter" id="tab-filter" class="tab-pane active">
        {% include "tab-filter.html" %}
      </div>
      <div role="tabpanel" aria-labelledby="tab-header-edit" id="tab-edit" class="tab-pane">
        TODO: edit
      </div>
    </div>
  </div>
</div>

{% end %}
