<h2>Export as BUFR</h2>

<p>Example command line:
<tt>dbadb export --url=<span class="provami-view-url">-</span> -d bufr <span class="provami-view-filter-cmdline">-</span></tt>
</p>

<p><a href="{{ reverse_url('export', 'bufr') }}">Download</a></p>

<h2>Export as CREX</h2>

<p>Example command line:
<tt>dbadb export --url=<span class="provami-view-url">-</span> -d bufr <span class="provami-view-filter-cmdline">-</span></tt>
</p>

<p><a href="{{ reverse_url('export', 'crex') }}">Download</a></p>

<h2>Export as CSV</h2>

<p>Example command line:
<tt>dbaexport --url=<span class="provami-view-url">-</span> csv <span class="provami-view-filter-cmdline">-</span></tt>
</p>

<p><a href="{{ reverse_url('export', 'csv') }}">Download</a></p>
