<div class="container-fluid">
<div class="row">

<div class="col-sm-4">
<div class="card">
  <div class="card-header">
    <!--
    <div class="btn-group pull-right" role="group" aria-label="filter_actions">
      <button id="filter_update" type="button" class="btn btn-default btn-xs">Update</button>
    </div>
    -->
    Filter
  </div>
  <div class="card-body">
    <form id="filter">
    <table id="filter" class="table table-borderless table-sm">
      <tbody>
        <tr id="filter-station">
          <th><label for="filter-field-station">Station:</label></th>
          <td class="provami-value">all<td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-rep_memo">
          <th><label for="filter-field-rep_memo">Network:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-rep_memo">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-var">
          <th><label for="filter-field-var">Variable:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-var">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-level">
          <th><label for="filter-field-level">Level:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-level">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-trange">
          <th><label for="filter-field-trange">Time range:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-trange">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
      </tbody>
    </table>
    </form>
    <div class="text-right">
      <div class="dropdown">
        <button id="provami-export" type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Export
        </button>
        <div class="dropdown-menu" aria-labelledby="provami-export">
          <a class="dropdown-item" href="{{ reverse_url('export', 'bufr') }}">as BUFR</a>
          <a class="dropdown-item" href="{{ reverse_url('export', 'crex') }}">as CREX</a>
          <a class="dropdown-item" href="{{ reverse_url('export', 'csv') }}">as CSV</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-lg">
  <div class="card">
    <div class="card-header">Stations</div>
    <div class="card-body" id="map">
    </div>
  </div>
</div>
</div> <!-- /div class="row" -->


<div class="card">
  <div class="card-header">Data</div>
  <table id="data" class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Network</th>
        <th>Station</th>
        <th>Variable</th>
        <th>Level</th>
        <th>Time range</th>
        <th>Datetime</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</div> <!-- /div class="container-fluid" -->
