<div class="container-fluid">
<div class="row">

<div class="col-sm-4">
<div class="card">
  <div class="card-header">
    <!--
    <div class="btn-group pull-right" role="group" aria-label="filter_actions">
      <button id="filter_update" type="button" class="btn btn-default btn-xs">Update</button>
    </div>
    -->
    Filter
  </div>
  <div class="card-body">
    <form id="filter">
    <table id="filter" class="table table-borderless table-sm">
      <tbody>
        <tr id="filter-station">
          <th><label for="filter-field-station">Station:</label></th>
          <td class="provami-value">all<td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-rep_memo">
          <th><label for="filter-field-rep_memo">Network:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-rep_memo">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-var">
          <th><label for="filter-field-var">Variable:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-var">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-level">
          <th><label for="filter-field-level">Level:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-level">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-trange">
          <th><label for="filter-field-trange">Time range:</label></th>
          <td>
            <span class="provami-value"></span>
            <select class="form-control" id="filter-field-trange">
            </select>
          </td>
          <td><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
        <tr id="filter-datetime">
          <th class="align-middle"><label for="filter-field-datetime">Date time:</label></th>
          <td>
            <span class="provami-value"></span>
            <input type="text" class="form-control" id="filter-field-datetime-min" pattern="[0-9]+(?:-[0-9]+(?:-[0-9]+(?: [0-9]+(?::[0-9]+(?::[0-9]+)?)?)?)?)?"></input>
            <input type="text" class="form-control" id="filter-field-datetime-max" pattern="[0-9]+(?:-[0-9]+(?:-[0-9]+(?: [0-9]+(?::[0-9]+(?::[0-9]+)?)?)?)?)?"></input>
          </td>
          <td class="align-middle"><button class="btn btn-outline-dark btn-sm provami-remove"><span class="oi oi-delete"></span></button></td>
        </tr>
      </tbody>
    </table>
    </form>
    <div class="text-right">
      <div class="dropdown">
        <button id="provami-export" type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Export
        </button>
        <div class="dropdown-menu" aria-labelledby="provami-export">
          <a class="dropdown-item" href="{{ reverse_url('export', 'bufr') }}">as BUFR</a>
          <a class="dropdown-item" href="{{ reverse_url('export', 'crex') }}">as CREX</a>
          <a class="dropdown-item" href="{{ reverse_url('export', 'csv') }}">as CSV</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-lg">
  <div class="card">
    <div class="card-header">Stations</div>
    <div class="card-body" id="map">
    </div>
  </div>
</div>
</div> <!-- /div class="row" -->


<div class="card">
  <div class="card-header d-flex">
    <div class="">Data</div>
    <div class="ml-auto">
      <!--
      <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
        </label>
        <label class="btn btn-sm btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Radio
        </label>
        <label class="btn btn-sm btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Radio
        </label>
      </div>
      -->
      <label for="data-limit">Results:</label>
      <select id="data-limit" class="form-control-sm m-0 p-0 border-0">
        <option value="20" class="m-0 p-0">20</option>
        <option value="50" class="m-0 p-0">50</option>
        <option value="100" class="m-0 p-0">100</option>
        <option value="unlimited" class="m-0 p-0">unlimited</option>
      </select>
      /
      <span id="data-count">-</span>
    </div>
  </div>
  <table id="data" class="table table-hover table-sm">
    <thead>
      <tr class="d-flex">
        <th class="col-2">Network</th>
        <th class="col-1">Station</th>
        <th class="col-1">Variable</th>
        <th class="col-2">Level</th>
        <th class="col-2">Time range</th>
        <th class="col-2">Datetime</th>
        <th class="col-2">Value</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</div> <!-- /div class="container-fluid" -->
